
#Encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    padding: 10px;
}

.encabezado {
    display: flex;
    justify-content: center;
}

.Text {
    font-size: 1.5rem;
    margin-right: 10px;
}

h1 {
    font-size: 4rem;
    color: rgb(255, 162, 0);  
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 3rem;
    color: rgb(255, 162, 0);  
    text-align: center;
    margin: 20px 0;
}

/* Estilos para los resultados */
#resultados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.receta {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #f7f7f7;
}

.receta:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.receta h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.receta p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0;
}
